.products-list {
    width: 700px;
    margin: 0 auto;
    padding: 24px 35px;
    list-style-type: none;
    background-color: #020202;
    border-radius: 16px;
}

.add-todo-form {
    display: flex;
    align-items: center;
    width: 690px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.add-todo-input {
    width: 100%;
    margin-right: 20px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-name {
    margin-right: auto;
    margin-left: 10px;
}

.todo-edit-btn {
    margin-right: 10px;
}

.todo-delete-btn {

}